html {
  box-sizing: border-box;
  font-family: 'Life Savers', cursive;
}

*, *:before, *:after {
  box-sizing: inherit; 
}

body {
  position: relative;
  z-index: 1;
}

body .dimSum {
  position: absolute;
  z-index: -1;
  background: url("../img/dimsum.jpg");
  background-position: center;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

header {
  display: flex;
  justify-content: center;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 25px;
}


a {
  text-decoration: none;
  color: #5E5D5B;
  margin: 10px;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #000;  
}

.teamName {
  font-size: 95px;
  color: #5E5D5B;
  margin: 10px;
}


.tacoContainer {
  height: auto;
  display: flex;
  justify-content: space-evenly;
}


.taco {
  height: 550px;
  width: 350px;
  border-radius: 20px;
  border-style: inset;
  border-color: #FEDB10;
  border-width: 10px;
  position: relative;
  left: 100px;
  top: 30px;
}

.word {
  font-size: 40px;
  height: auto;
  margin: 0;
  position: relative;
  bottom: 90px;
  left: 220px;
  color: #FFF;
}

.words {
  font-size: 30px;
  height: auto;
  margin: 0;
  position: relative;
  bottom: 90px;
  left: 180px;
  color: #FFF;
}

.menuTopics {
  width: 350px;
  height: 285px;
  position: relative;
  top: 120px;
  right: 70px;
/*  border-radius: 20px;
  border-style: outset;
  border-color: #FEDB10;
  border-width: 10px; */ 
}

.menuTopics li {
  margin: 30px;
  font-size: 35px;
  font-weight: bold;
}


footer {
  text-align: center;
  color: #5E5D5B;
  height: auto;
  margin: 20px;
}

.foot {
  margin: 5px;
  padding: 0;
}


/*profile css*/
.navInfo {
  display: flex;
  justify-content: space-around;
}

.navContainer {
  height: 50px;
}

.profileContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.name {
  font-family: 'Life Savers', cursive;
  font-size: 25px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.img1 {
  border-radius: 25px;
  border: 8px solid #FEDB10;
  padding: 5px; 
  width: 230px;
  height: 300px;
  display: flex;
  justify-content: flex-start;
}

.infoContainer {
  width: 400px;
  height: auto;
  position: relative;
  top: 60px;
  right: 10px;
  color: black;
  font-size: 20px;
}

/*zuddle css*/

.topicContainer {
  width: 700px;
  text-align: center;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
  border: 2px solid #FEDB10;
  background: white;
}

.zudTopDate {
  margin: 0;
}

.topReview {
  font-weight: bold;
  text-decoration: underline;

}

.topicStuff {

}



